<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvh88PT5aWUEuWyCx1tUNm1sdts3OdV2I</string>
	<key>GCM_SENDER_ID</key>
	<string>357380218235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeohaeng-ttukttak.application</string>
	<key>PROJECT_ID</key>
	<string>yeohaeng-ttukttak</string>
	<key>STORAGE_BUCKET</key>
	<string>yeohaeng-ttukttak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357380218235:ios:753c86e276e324906371de</string>
</dict>
</plist>